<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.selenium.tatoc.test.Question2Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cookieHandling</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>greenBox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>frameDungeon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>launchApplication</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>popWindow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dragAndDrop</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
