<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="addda9">  <td>20/11/23 19:23:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Question2Test.cookieHandling()[pri:6, instance:com.selenium.tatoc.test.Question2Test@1060b431]">cookieHandling</td> 
  <td>main@1832580921</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/11/23 19:23:29</td>   <td>-3541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Question2Test.dragAndDrop()[pri:4, instance:com.selenium.tatoc.test.Question2Test@1060b431]">dragAndDrop</td> 
  <td>main@1832580921</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/11/23 19:23:28</td>   <td>-4800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Question2Test.frameDungeon()[pri:3, instance:com.selenium.tatoc.test.Question2Test@1060b431]">frameDungeon</td> 
  <td>main@1832580921</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/11/23 19:23:27</td>   <td>-5963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Question2Test.greenBox()[pri:2, instance:com.selenium.tatoc.test.Question2Test@1060b431]">greenBox</td> 
  <td>main@1832580921</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/11/23 19:23:17</td>   <td>-15557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Question2Test.launchApplication()[pri:1, instance:com.selenium.tatoc.test.Question2Test@1060b431]">launchApplication</td> 
  <td>main@1832580921</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/11/23 19:23:30</td>   <td>-2932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Question2Test.popWindow()[pri:5, instance:com.selenium.tatoc.test.Question2Test@1060b431]">popWindow</td> 
  <td>main@1832580921</td>   <td></td> </tr>
<tr bgcolor="addda9">  <td>20/11/23 19:23:34</td>   <td>789</td> <td>&nbsp;</td><td title="&lt;&lt;Question2Test.termDown()[pri:0, instance:com.selenium.tatoc.test.Question2Test@1060b431]">&lt;&lt;termDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1832580921</td>   <td></td> </tr>
</table>
